spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.database-platform=org.hibernate.dialect.H2Dialect

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.jpa.properties.hibernate.dialect=

ImgBB.key=

spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

spring.security.client.name=
spring.security.client.password=
spring.security.client.roles=

spring.http.multipart.max-file-size=200000MB
spring.http.multipart.max-request-size=200000MB
spring.servlet.multipart.max-file-size=200000MB
spring.servlet.multipart.max-request-size=200000MB
spring.servlet.multipart.resolve-lazily=false

main.path.for.images=src/main/resources/


//https://symbl.cc/ru/emoji/objects/
